/*
Student Number : C00288136, C00287940, C00287277
Purpose: CSS design for the main interface 
Date: 01/04/24
 
*/

/* elements used for the whole body  */
body{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding-bottom: 30px;
    /* set font and weight to support uniformity in the whole file */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;

}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #93B5C6;
    padding-top: 15px;
}

/* logo flexed to align the text with the picture */
.logo{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: #333;
}


.logo img{
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    margin-right: 20px;
    border-radius: 10px;

}

.logo-p{
    font-size: 20px;
}

.grid-container{
    margin: 0 auto;
    display: grid;
    /* grid layout used and a repeat of 3 so ensure 3 columns and equal spacing between them */
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    max-width: 80%;
    padding-left:50px;
    padding-top:50px;

}

.grid-container button{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    border-radius: 10px;
    background-color: #ECE5E5;
    margin-top: 10%;
    padding: 15% 5% 15% 5%;

}

.grid-item{
    font-size: 25px;
}

nav {
    background-color: #e4d8dc;
}

.material-symbols-outlined, .contact-lens, .glasses {
width: 50px;
font-size: 50px;
}

.grid-container button:hover{
    transition: 0.3s;
    background-color: #baa8a8;

}