header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #93B5C6;
    padding-top: 15px;
    
}

.logo-p{
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: #333;
}

.logo img{
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    margin-right: 20px;
    border-radius: 10px;

}

.logo-p{
    font-size: 20px;
}

fieldset{
    border-radius: 10px;
    background-color: #ECE5E5;
    border: 2px solid black;
    width: fit-content;
    margin: auto;
    font-size: large;
}
.fields {
    margin: 20px 5px 0px 0px;
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}
.fields label{
    width: auto;
    text-align: right;
}
body{
    background-color: rgb(255,255,255);
    font-weight: bold;
}

fieldset div{
    display:flex;
    justify-content: flex-end;
    margin: 1rem;
    align-items: center;
}
input, select {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 5px;
    min-width: 170px;
    min-height: 25px;
    text-indent: 3px;
}
h2{
    display: flex;
    justify-content: center;
    margin: 45px;
}

fieldset input,
fieldset select{
    background-color: white;
    border: 2px solid black;
    margin:1px;
    width: auto;
}


div.sidenav {
    min-height: 85%;
    width: 200px;
    position: fixed;
    background-color: rgb(188, 164, 164);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute items evenly along the vertical axis */
    border-radius:  0 0 1rem;
}

.sidenav a {
    border:1px solid #e4d8dc;
    border-radius: 1rem;
    padding:2rem 3rem;
    text-decoration: none;
    font-size: 20px;
    color: #333;
    display: block;
    text-align: center;
    
}
.sidenav a:hover {
    color: #333;
    background-color: #e4d8dc;
}

.button input{
    font-weight: bold;
    min-width: 75px;
    text-align: center;
    border-radius: 28px;
    color: #000000;
    background: rgb(188, 164, 164);
    padding: 5px 15px 5px 15px;
    text-decoration: none
}
.button input:hover{
    background-color: #d0c0ca;
}
#display{
    display: none;
}

