/* Name: Daniel McCormack
Student Number : C00287277
Purpose: Style used for the add eye test page
Date: 01/03/24
*/

/* Styles for the body */
body {
    background-color: rgb(255, 255, 255); /* gives page a nice white background */
    border-radius: 10px; 
    font-weight: bold;
}

/* Styles for the header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #93B5C6; /* sets header background color */
    padding-top: 15px;
}

/* Styles for the logo */
.logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: #333; /* sets logo color */
}

/* Styles for the logo image */
.logo img {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    margin-right: 20px;
    border-radius: 10px;
}

/* Styles for the navigation bar */
nav ul {
    margin-top: 60px;
    text-decoration: none;
    list-style-type: none;
}

/* Styles for navigation bar items */
nav li {
    margin: 10px 0 40px 0px;
}

/* Styles for links */
a {
    text-decoration: none;
    color: black;
}

/* Hover styles for links */
a:hover {
    transition: 0.3s;
    color: white;
}

/* Styles for the form */
fieldset {
    border-radius: 10px;
    background-color: #ECE5E5; /* sets form background color */
    border: 2px solid black;
    width: fit-content;
    font-size: 25px;
}

/* Styles for elements inside fieldset */
fieldset div {
    display:flex;
    justify-content: flex-end;
    margin: 1rem;
    align-items: center;
}

/* Styles for input and select elements */
input, select {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 5px;
    min-width: 260px;
    min-height: 60;
    text-indent: 3px;
    font-size: 20px;
}

/* Styles for the form */
form {
    width: fit-content;
}

/* Styles for input and select elements inside fieldset */
fieldset input,
fieldset select {
    border: 2px solid black;
    margin:10px;
}

/* Styles for labels */
label {
    margin-right:0.5rem;
}
